.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion,.sidebar-menu > li > a > .zmdi{
    width: 20px;
}
.panel-title{
    font-family: Roboto;
    font-weight: 600;
}
.customPanel {
    margin-bottom: 10px;
}

.customPanel .panel-heading:after {
    display: none;
}
.customPanel .panel-heading{
    background: #ffffff;
    border-bottom: 1px solid #f1f1f1;
}
.customPanel .panel-heading .panel-title {
    font-size: 14px;
}
.border-bottom {
    border-bottom: 1px solid #f5f5f5 !important;
}
.rank{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    line-height: 1;
    text-transform: uppercase;
}
.rank span{
    display: block;
    font-size: 36px;
}
.panel-body .row, .panel-body .form-horizontal .form-group{
    margin-right: -15px;
    margin-left: -15px;
}
.subjects-with-status ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.subjects-with-status li{
    background: #eaeaea;
}
.subjects-with-status .progress,
.subjects-with-status .progress-bar{
    background: #cdcdcd;
    position: relative;

}
.active-course{
    background: #9b291e !important;
    color: #fff;
    position: relative;
}

.active-course a {
    color: #fff;
    text-decoration: none;
}

.subjects-with-status .progress,
.subjects-with-status .progress-bar{
    height: 7px;
}
.subjects-with-status .active-course .progress-bar{
    background: #6e130b;
}
.subjects-with-status .active-course .progress{
    background: #ffdbd7;
}
.subjects-with-status h3{
    padding: 20px;
    margin-bottom: 0px;
    font-size: 16px;
    text-transform: uppercase;
}
.subjects-with-status li{
    position: relative;
}
.subjects-with-status li .course-completed{
    position: absolute;
    right: 20px;
    top:20px;
}
.disabled-course i{
    display: block;
    background: rgba(255,255,255,0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.disabled-course a {
    color: #333;
    text-decoration: none;
}

.timeline-label:before,
.timeline-label:after{
    content: '';
    display: none;
}
.timeline-label{
    background: none !important;
    border:none !important;
    margin-left: 30px;
    padding: 0px;
}
.timeline-label h3{
    font-size: 15px;
    color: #000;
    margin-bottom: 0px;
}
.timeline-label p{
    font-size: 13px;
    margin-bottom: 0px;
    color: #9a9a9a;
}
.timeline-icon{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.timeline-icon i{
    font-size: 14px;
}
.timeline-stat{
    width: 26px;
}
.timeline:before{
    left: 13px;
}
.timeline:after{
    left: 11px;
}
.timeline-entry{
    margin-bottom: 20px;
}
.timeline{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.reminders{
    list-style: none;
    padding: 0px;
}
.reminders h3{
    margin: 0px;
    font-size: 18px;
    margin-bottom: 15px;
}
.reminders .due-date{
    position: absolute;
    top:18px;
    right: 10px;
}
.reminders .alert{
    position: relative;
    color: #373737 !important;
}
.reminders .alert p{
    font-size: 12px;
}
.reminders .alert-danger {
    background: #ffe5e5 !important;
    border:none !important;
}
.reminders .alert-info {
    background: #e5f8ff !important;
    border:none !important;
}
.reminders .alert-success {
    background: #e5ffec !important;
    border:none !important;
}
.reminders .alert-warning {
    background: #fdffe5 !important;
    border:none !important;
}

.skin-blue .main-header .navbar {
    background-color: #6f140b !important;
}
.skin-blue .main-header .logo {
    background-color: #9b281d  !important;
    color: #fff  !important;
    border-bottom: 0px solid transparent !important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ffffff !important;
    box-shadow: 2px -2px 10px rgba(0,0,0,0.1);
}
.skin-blue .sidebar a {
    color: #111111 !important;
}
.skin-blue .sidebar-menu > li.header {
    color: #2f2f2f !important;
    background: #e4e4e4 !important;
}
.skin-blue .sidebar-form {
    border: 1px solid #d0d0d0 !important;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: #e4e4e4 !important;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff !important;
}
.bx-wrapper{
    background: none !important;
    border:none !important;
    box-shadow: none !important;
    margin-bottom: 0 !important;
}
.chapControlsLeft{
    display: inline-block;
}
.chapControlsRight{
    display: inline-block;
}
.chapControlsLeft a,
.chapControlsRight a{
    padding: 5px 15px;
    background: #fff;
    color: #000000;
    font-size: 18px;
}
.chapControlsLeft a:hover,
.chapControlsRight a:hover{
    padding: 5px 15px;
    background: #f00;
    color: #fff;
    font-size: 18px;
}
.videoDesc{
    background: #323232;
    color: #fff;
    padding: 30px;
}
.videos-slider a{
    color:#4d4d4d
}
.videoDesc{
    color: #e9e8e8;
    font-weight: 300;
}
.videoDesc ul li{
    margin-bottom: 5px;
    position: relative;
    transition: all .2s;
    height: 30px;
    font-weight: 400;
}
.videoDesc ul li:hover{
    transform: scale(1.2);
    padding-left: 25px;
}
.videos-slider-wrapper .video-item{
    transition: all .4s;
    opacity: 0.3;
}

.videos-slider-wrapper {
    margin: 0 10px;
}

.videos-slider-wrapper .video-item img {
    background: #000;
}
.videos-slider-wrapper:hover .video-item{
    opacity: 0.5;
}
.videos-slider-wrapper:hover .video-item:hover{
    opacity: 1;
}
.completedPercentage{
    height: 5px;
    background: #f91a05;
}
.video-item img{
    width: 100%;
}
.video-item{
    position: relative;
}
.video-item i{
    position: absolute;
    right: 7px;
    top: 6px;
    color: #fff;
    font-size: 35px;

}
.completed-video{
    opacity: 0.8 !important;
}
.active-video{
    opacity: 1 !important;
}
.active-video img{
    box-shadow: 1px 0px 10px rgba(254, 15, 0, 0.51);
}
.video-locked i{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 50px;
}
.closeDesc{
    position: absolute;
    font-size: 24px;
    color: #fff;
    right: 20px;
    top: 10px;
}
.videoDesc{
    position: relative;
}
.panel-body{
    position: relative;
}
.videoDescWrapper{
    position: relative;
    top:-45px;

}
.video-item p{
    height: 30px;
}
.videoDescriptionVisible .video-item{
    opacity: 0.1 !important;
}
.videoDescriptionVisible .currentVideoVisible{
    opacity: 1 !important;
}
.videoDescriptionVisible .currentVideoVisible:after{
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #323232;
    position: absolute;
    bottom: 45px;
    z-index: 999;
    width: 40px;
    left: 50%;
    margin-left: -20px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
    background: #2f2f2f !important;
    border-left-color: #6e130b !important;
}
.videoDesc h3{
    border-bottom: 1px solid #545454;
    padding-bottom: 14px;
    margin-bottom: 10px;
    font-size: 48px;
}
.videoDesc{
    padding-top: 4px;
}
.desc-controls{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    text-align: center;
}
.btn-danger {
    background-color: #e81c08;
    border-color: #e91c08;
}
.desc-controls .btn-danger{
    margin-right: 3px;
}
.completed-video i{
    color: #315f26 !important;
}

.chapControlsLeft {
    position: absolute;
    right: 17px;
    top: 83px;
    border-radius: 50%;
}
.chapControlsLeft a{
    border-radius: 50%;
}
.chapControlsRight {
    position: absolute;
    left: 14px;
    top: 83px;
    border-radius: 50%;
    z-index: 99999;
}
.chapControlsRight a{
    border-radius: 50%;
}
.videos-slider-wrapper{
    padding-left: 15px;
}
.lecture-goals i{
    width: 20px;
}
.badge-warning {
    background-color: #d66200;
}
.merits i{
    font-size: 25px;
}
.merits i.earned{
    color: #d66200;
}
.btn-default{
    color: #333333;
}
.lecture-image{
    width: 100%;
    height: 258px;
    border: 5px solid #ffffff00;
    border-radius: 5px;
    box-shadow: -1px 0px 10px rgb(255, 0, 0);
    background-size: contain;
}



@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-2010);
        transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
.videoDescWrapper{
    display: none;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.pdfIframe object{
    width: 100%;
    height: 700px;
}
.videoFrame iframe{
    width: 100%;
    height: 600px;
}

.box-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.AjaxContents{
    min-height: 300px;
    background: #fff;
}
.lecture_objectives i{
    font-size: 24px;
    position: absolute;
    left: 0px;
}
.lecture_objectives li{
    line-height: 24px;
    position: relative;
    padding-left: 30px;
}
.lecture_objectives li i.zmdi-check{
    color: #00a65a;
}
.mcqList li{
    margin-bottom: 10px;
}
.mcqList li input[type='radio']{
    margin-right: 5px;
}
.mcqList li label{
    font-weight: 400;
    font-size: 18px;
}
.loginSignupForm .list-group-item{
    padding:0px;
}
.loginSignupForm .list-group-item .form-control{
    height: 50px;
}
.loginSignupPage{
    min-height: auto;
}
.footer a{
    color: #000;
}
.footer ul{
    list-style: none;
    margin:0px;
    padding: 0px;
    list-style: none;
}
.footer ul li a{
    line-height: 2;
}
.copyrights{
    margin-top: 20px;
    padding-top: 20px;
    border-top:1px solid #dadada
}
.icon.file {
    width: 2.5em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 0.25em;
    color: #FFF;
    display: inline-block;
    margin: 0.9em 1.2em 0.8em 1.3em;
    position: relative;
    overflow: hidden;
    box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
    font-size: 13px;
    font-weight: 700;
}
.icon.file:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-width: 0;
    border-bottom: 2.6em solid #DADDE1;
    border-right: 2.22em solid rgba(0, 0, 0, 0);
    top: -34.5px;
    right: -4px;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
    box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
    border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
    box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
    border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
    box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
    border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
    box-shadow: 1.74em -2.1em 0 0 #44b0ef inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
    border-bottom-color: #1370a7;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
    box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
    border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
    box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
    border-bottom-color: #d65de8;
}

.icon.file.f-js {
    box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
    border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
    box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
    border-bottom-color: #30837c;
}
.chat-area{
    position: absolute;
    padding: 0px;
    height: 100%;
    width: 97%;
}
.chat-box{
    position: absolute;
    background: #fff;
    height: 100%;
    padding: 20px;
    width: 58%;
    left: 18%;
}
.chat-left{
    height: 100%;
    position: absolute;
    width: 18%;
    left: 0px;
    background: #fff;
    border-right: 1px solid #dadada;
    overflow-y: auto;
}
.chat-dets{
    width: 24%;
    right: 0px;
    top: 0px;
    background: #fff;
    border-left: 1px solid #dadada;
    height: 100%;
    position: absolute;
    overflow: auto;
    padding-bottom: 100px;
}
.chatbox-input-area{
    position: absolute;
    bottom: 145px;
    background: #fcc;
    border-top:1px solid #dadada;
    height: 30px;
    left: 0px;
    width: 100%;
    background: #fff;
}
.chatbox-input-area textarea{
    height: 80px;
    border:none;
    resize: none;
}
.chat-input-extra{
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    background: #fff;
}

.chat-input-extra ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.chat-input-extra ul li{
    float: left;
    border-right: 1px solid #dadada;
    position: relative;
    height: 42px;
}
.chat-input-extra select{
    width: 134px;
    margin: 0 10px;
    border-radius: 0px !important;
    border: none !important;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
}
.chat-input-extra ul li a{
    display: block;
    padding: 10px 10px;
    height: 34px;
    width: 50px;
    text-align: center;
}
.chat-input-extra ul:after{
    content: '';
    display: block;
    clear: both;
}
.w-150{
    width: 150px;
}
.SendMessageBtn{
    width: 150px;
    position: absolute;
    height: 44px;
    border-radius: 0px;
    right: 0px;
    top: -1px;
    text-align: center;
}
.chat-contents-wrapper{
    box-shadow: -5px -1px 9px 4px rgba(0, 0, 0, 0.08) inset;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 30px;
    padding-bottom: 200px;
    padding-top: 80px;
    overflow: auto;
    left: 0px;
    top:0px;
}
.chat-head{
    width: 100%;
    background: #eaeaea;
    position: absolute;
    top:0px;
    padding: 10px;
    z-index: 10;
    left: 0px;
    border-bottom:1px solid #dadada;
}
.chat-head p{
    margin: 0px;
    font-size: 10px;
}
.chat-head h3{
    margin: 0px;
    font-size: 18px;
}
.chat-items-wrapper{
    position: relative;
    list-style: none;
    margin: 0px;
    padding:0px;
}
.chat-avatar{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 3px;
}
.chat-item{
    position: relative;
    min-height: 80px;
}
.chat-item p{
    background: #fcc;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
}
.chat-item-left{
    padding-left: 60px;
}
.chat-item-left .chat-avatar{
    position: absolute;
    left: 0px;
}
.chat-item-right{
    padding-right: 60px;
    text-align: right;
}
.chat-item-right .chat-avatar{
    position: absolute;
    right: 0px;
}
.chat-item p {
    max-width: 70%;
    position: relative;
}
.chat-item-left.chat-item p {
    background: #dadada;
    color: #444;
}
.chat-item-right.chat-item p {
    background: #b7dcfe;
    color: #3870a2;
}
.chat-item-left.chat-item p:after {
    content: '';
    display: block;
}
.seen{
    display: block;
    font-size: 10px;
}
.chat-day{
    text-align: center;
}
.chat-day h3{
    display: inline-block;
    background: #000;
    padding: 10px 50px;
    font-size: 14px;
    color: #fff;
    border-radius: 27px;
    margin: 40px;
}
.people-in-chat{
    list-style: none;
    margin: 0px;
    padding: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}
.people-in-chat li .chat-people-avatar{
    width: 30px;
    position: absolute;
    left: 0px;
}
.people-in-chat li .chat-people-avatar img{
    border-radius: 50%;
}
.people-in-chat li .chat-people-avatar i{
    position: absolute;
    right: -8px;
    border: 3px solid #fff;
    border-radius: 50%;
    top: -2px;
    font-size: 9px;
}
.people-in-chat li{
    position: relative;
    padding-left: 40px;
    height: 30px;
    margin-bottom: 5px;
}
.people-in-chat li h4{
    margin: 0px;
    padding: 0px;
    position: relative;
    top:7px;
    font-size: 12px;
    font-weight: 400;
}
.chat-files,.track-record{
    padding: 10px;
}

.right-side-head{
    margin: 0px;
    padding: 0px;
}
.shared-files-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.shared-files-list li{
    float: left;
    width: 25%;
    padding: 5px;
}
.shared-files-list:after{
    content: '';
    display: block;
    clear: both;
}

.shared-files-list li{
    word-wrap: break-word;
    text-emphasis: dot;
    height: 95px;
}
.shared-files-list li .filename{
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
}
.shared-files-list li img{
    width: 55px;
    display: block;
    margin: 8px 6px;
    height: 55px;
}
.chat-item-content .fa-caret-right{
    position: absolute;
    right: -7px;
    color: #b7dcfe;
    top:5px;
    font-size: 24px;
}
.chat-item-content .fa-caret-left{
    position: absolute;
    left: -7px;
    color: #dadada;
    top:5px;
    font-size: 24px;
}
.search_chat{
    border-radius: 35px !important;
}
.search-chat{
    padding: 10px;
}
.chat-left-heading p{
    margin: 0px;
    padding: 0px;
    color: #8b8a8a;
    font-size: 12px;
}
.chat-left-heading{
    background: #eaeaea;
    padding: 5px;
}
.chat-subjects-list h4{
    font-size: 12px;
    position: relative;
    margin-bottom: 5px;
}
.chat-subjects-list h4 a{
    color: #000;
}
.chat-subjects-list h4 span{
    font-size: 10px;
    color: #8b8a8a;
    position: absolute;
    right: 0px;
}
.chat-subjects-list p {
    color: #8b8a8a;
    font-size: 10px;
}
.chat-subjects-list ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.chat-subjects-list li{
    padding: 2px 10px;
    border-bottom: 1px solid #eaeaea;
}
.disabled-conv{
    padding-right: 20px;
}
.disabled-conv{
    position: relative;
    background: #f2f2f2;
}
.disabled-conv i.zmdi-lock{
    position: absolute;
    right: 20px;
    top:20px;

}
.peers_list ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.peers_list li img{
    width: 32px;
    position: absolute;
    left: 10px;
    border-radius: 50%;
}
.peers_list li{
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
    position: relative;
    padding-left: 50px;
}
.peers_list li h3{
    font-size: 12px;
    margin: 0px;
}
.peers_list li p {
    color: #8b8a8a;
    font-size: 10px;
    margin: 0px;
}
.right-side-head{
    font-size: 14px;
    color: #dadada;
}
.track-record{
    border-bottom: 1px solid #eaeaea;
}
.track-record ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.track-record ul li i.zmdi-circle{
    width: 15px;
}
.track-record ul{
    margin-top: 15px;
}
.track-record ul li{
    position: relative;
    min-height: 30px;
}
.track-record .right-statistics{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: -6px;
}
.chart-div{
    width: 30px;
    height: 30px;
}
.amcharts-chart-div a{
    display: none !important;
}
.disabled-course{
    height: 64px;
    margin-bottom: 20px;
}
.logo-mini img{
    width: 30px;
}
.logo-lg img{
    width: 120px;
}
.easyPieChartGraph{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.easyPieChartGraph .percentWrapper{
    position: absolute;
    font-size: 20px;
    width: 68px;
    line-height: 100px;
    left: 50%;
    margin-left: -34px;
    text-align: center;
}
.nav-tabs-custom > .tab-content{
    padding: 20px;
}
.nav.nav-tabs.bg-white li a span{
    display: block;
    font-size: 12px;
    color: #adadad;
}
.nav.nav-tabs.bg-white>li>a {
    position: relative;
    display: block;
    padding: 10px 35px;
}
.nav-tabs-custom{
    margin-bottom: 0px;
    box-shadow: none;
}
.stat-big{
    font-size: 50px;
    text-align: center;
}
.font-60{
    font-size: 60px;
}
.active-visitor-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.active-visitor-list li{
    position: relative;
    font-size: 14px;
    padding: 10px;
    border-bottom:1px solid #6497e4;
}
.active-visitor-list li:last-child{
    border-bottom: none;
}
.active-visitor-list li span{
    position: absolute;
    right: 10px;

}
#OnlineStudentsModal .border-bottom{
    border-bottom-color: #6497e4 !important;
}
.stat-big a{
    color: #000;
}
.fc-state-default.fc-corner-left,.fc-state-default.fc-corner-right{
    border-radius: 0px !important;
    background: #fff !important;
}
.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,.fc-state-default{
    background: #fff !important;
    box-shadow: none !important;
}
.dtable td{
    min-width: 120px !important;
}

.showHidColumns li{
    padding: 10px;
    border-bottom: 1px solid #b1afaf;
}
.showHidColumns{
    max-height: 300px;
    background: #9E9E9E;
    width: 200px;
    color: #fff;
    overflow-y: auto;
}
.BtnGroupCheckBox .btn{
    min-width: 150px;
    margin-right: 20px;
}
.form-bordered .form-group {
    margin: 0;
    border-bottom: 1px solid #efefef;
}
.form-bordered .form-group > div {
    padding: 15px;
    border-left: 1px solid #efefef;
}
.form-horizontal.form-bordered.form-row-stripped .form-group:nth-child(even) {
    background-color: #fcfcfc;
}

.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) {
    background-color: #fcfcfc;
}
.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) > div {
    background-color: #ffffff;
}
.form-bordered .form-group .control-label {
    padding-top: 20px;
}
.form-horizontal.form-bordered.form-row-stripped .form-group{
    margin: 0px;
}
.table-hover>tbody>tr:hover {
    background-color: #4CAF50;
    color: #fff;
}
.nav-tabs-custom > .nav-tabs > li{
    margin-bottom: 0px;
}
.student-info-table p,
.student-info-table h3{
    margin: 0px;
    padding: 0px;
}
.student-info-table p{
    font-size: 12px;
    margin-bottom: 5px;
    color: #a0a0a0;
}
.student-info-table h3{
    font-size: 16px;
    margin-bottom: 20px;
}
.list-with-label{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.list-with-label li{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-with-label li span{
    position: relative;
    z-index: 10;
}
.list-with-label li span.list-text{
    background: #fff;
    padding-right: 10px;
}
.list-with-label li:after{
    position: absolute;
    border-bottom:1px dotted #dadada;
    height: 1px;
    width: 100%;
    content: '';
    display: block;
    top:20px;
}
.list-with-label li .label{
    position: absolute;
    right:0px;
    top:7px;
}
.profile-info-table p{
    font-size: 12px;
    margin-bottom: 5px;
    color: #a0a0a0;

}
.profile-info-table h3{
    margin: 0px;
    font-size: 16px;

}
.one-fifth{
    width: 20%;
    float: left;
}
.diagnostic-score{
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.diagnostic-score:nth-child(5){
    border-right: none;
    border-bottom: 1px solid #f1f1f1;
}
.device-location{
    font-weight: 700;
    margin: 0px;
    font-size: 13px;
}
.browsing-info{
    margin: 0px;
    font-size: 12px;
}
.browsing-info span{
    color: #595959;
}
#locationMap{
    height: 400px;
}
.panel-group.accordion .panel-title a {
    display: block;
    color: inherit;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    padding: 0 15px;
}
.bg-light-2{
    background: #f4f4f4 !important;
}
.head-subhead p{
    font-size: 12px;
    margin-bottom: 5px;
    color: #a0a0a0;
}
.head-subhead h3{
    margin: 0px;
    font-size: 16px;
}
.head-subhead{
    padding: 15px 10px;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
}
.chapter-part .row{
    margin: 0px;
}
.chapter-part .col-sm-3{
    padding: 0px;
}
.progress-bar{
    transition: all 2s !important;
    -webkit-transition: all 2s !important;
}
.inner-tabs ul.nav.nav-tabs{
    padding: 20px 0;
    padding-left: 20px;
    background: #fafafa;
    border-bottom-color: #f4f4f4;
}
.inner-tabs.nav-tabs-custom > .nav-tabs > li.active{
    border:transparent !important;
}
.inner-tabs.nav-tabs-custom > .nav-tabs > li{
    background: none !important;
}
.inner-tabs.nav-tabs-custom > .nav-tabs > li a{
    display: block;
    border-radius: 35px !important;
    padding: 8px 30px;
    background: #3F51B5;
    border:none !important;
    color: #fff;
}
.inner-tabs.nav-tabs-custom > .nav-tabs > li.active a{
    background: #9b291e;
    border: none !important;
}
.inner-tabs.nav-tabs-custom > .nav-tabs > li{
    border:none !important;
}
div.zabuto_calendar div.legend span {
    color: #999;
    font-size: 12px !important;
    font-weight: normal;
    position: relative;
    top: -1px !important;
    margin-right: 10px;
}
div.zabuto_calendar div.legend{
    text-align: left !important;
}
div.zabuto_calendar ul.legend, div.zabuto_calendar ul.legend li:first-child{
    margin-left: 0px !important;
}
div.zabuto_calendar .table tr td div.day {
    margin: 0;
}
div.zabuto_calendar .table th, div.zabuto_calendar .table td{
    padding: 0px !important;
}
.actionsPanel .btn{
    margin-bottom: 10px;
}
.student_chart{
    display: none;
}
.btn-default{
    background: #fff !important;
}
.half-aligned-list{
    list-style: none;
    margin: 0px;
    padding:0px;
}
.half-aligned-list li{
    padding: 10px 15px;
    border-bottom:1px solid #eaeaea;
    position: relative;
}
.half-aligned-list .span-left{
    float: left;
}
.half-aligned-list .span-right{
    float: right;
}
.half-aligned-list li:after{
    content: '';
    display: block;
    clear: both;
}
.bg-light-3{
    background: #fafafa !important;
}
.head-subhead{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.chapter-graph{
    height: 250px;
    background: #f00;
}
.activeTab{
    background: #fff;
}
.panel-title a{
    display: block;
}
.bg-info{
    background: #026fcc !important;
}
div.zabuto_calendar .table tr.calendar-month-header td{
    padding-top: 18px !important;
    padding-bottom: 0px !important;
}
div.zabuto_calendar .table th{
    padding: 8px 0 !important;
}
.score_my_score td{
    padding: 30px 10px !important;
    border-top:0px !important;
}
.score_my_score{
    color: #fff;
    border-top: none !important;
}
.challengesTable thead tr,.score_thead{
    background: #0d1b47 !important;
    color: rgba(255,255,255,.7);
}
.challengesTable thead tr,
.challengesTable thead tr th,
.challengesTable thead tr td{
    border-bottom: none !important;
}
.score_my_score td{
    font-size: 18px;
}
.score_my_score{
    background: #ffbd51 !important;
    color: #fff;
    border-top: none !important;
}
.challenger_image{
    width: 30px;
    margin-right: 5px;
}
.score_my_score .challenger_image{
    width: 50px;
    margin-right: 10px;
}
.btn-success.text-white{
    color: #fff !important;
}
.challengesTable td{
    vertical-align: middle !important;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
/*.number{
    display: block;
    height: 75px;
    text-align: center;
    margin: 0 auto;
    padding-top: 8px;
    font-size: 17px;
    color: #fff;
    background: #337ab7;
}
li.active .number{
    background: #fff;
    color: #337ab7;
}
.desc .fa-check{
    width: 40px;
    height: 40px;
    text-align: center;
    background: #337ab7;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 11px;
    font-size: 17px;
    display: none;
}
.desc{
    font-size: 20px;
}
.done .number{
    display: none;
}
.done .desc .fa-check{
    display: block;
    color: #fff;
}
.help-block-error2{
    display: none !important;
}
.on-board-form .tab-pane{
    background: #fff;
    padding: 20px;
}
.on-board-form .nav-pills > li.active > a,.on-board-form .nav-pills > li.active > a:hover,.on-board-form .nav-pills > li.active > a:focus
{
    border-top-color: #337ab7 !important;
    color: #337ab7;
    background: none;
}
.on-board-form .nav-justified{
    background: #fff;
}
.on-board-form .nav>li>a {
    padding: 0px;
}
li.active .number{
    position: relative;
    display: block;
}
li.active .number:after{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: #f00;
}
*/
.border-bottom-dark{
    border-bottom-color: #dadada !important;
}
.inner-heading-form{
    margin: 0px;
    background: #2f2f2f;
    margin-bottom: 15px;
    padding: 10px 10px 10px 15px;
    color: #fff;
    font-size: 16px;
}
.btn-base{
    background: #9b281d;
}
.btn-base:hover,
.btn-base:active,
.btn-base:focus,
.btn-base:visited{
    color: #fff;

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: none;
    color: #000;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    border-top: none !important;
    border-bottom: 4px solid #2471b0;
}
.nav-pills>li{
    position: relative
}
.nav-pills>li .wizard_title {
    position: absolute;
    bottom: -35px;
    width: 100%;
    text-align: center;
    left: 0px;
    font-size: 16px;
    text-transform: uppercase;
    color: #b1b1b1;
}
.form-wizard .nav>li>a {
    position: relative;
    display: block;
    padding: 30px 15px;
}
.form-wizard .nav>li>a:hover {
    background: none;
}
.wizard_info .number{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #b1b1b1;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    padding-top: 7px;
    font-weight: 700;
}
.wizard_info .desc{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #4caf50;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    padding-top: 7px;
    font-weight: 700;
    display: none;
}
.form-wizard .nav.steps{
    background: url('../pattren.png');
}
.form-wizard .tab-content{
    padding:80px;
}
li.done .number{
    display: none;
}
li.done .desc{
    display: block;

}
li.done .wizard_title{
    color: #4caf50;
}

li.active .number{
    background: #2471b0;
}

li.active .wizard_title{
    color: #2471b0;
}
.form-actions{
    padding-right: 80px;
}
.modal .iradio_square{
    margin-right: 20px;
}
.modal-content .timer{
    position: absolute;
    bottom: -105px;
    color: #fff;
    font-weight: 100;
}
.modal-content .timer h1{
    font-weight: 100;
    font-size: 65px;
}
#MCQChallange .modal-content{
    background: #484848;
    color: #fff;
}
#MCQChallange .modal-header {
    border-bottom-color: #565555;
}
#MCQChallange .modal-footer {
    border-top-color: #565555;
}
.start-record-btn i{
    font-size: 30px;
}
.inner-tabs > .nav-tabs > li.active > a, .inner-tabs > .nav-tabs > li.active:hover > a{
    color: #fff !important;
}
.chapter-part{
    background: #fff;
}
.chapter_info{
    position: relative;
    padding: 10px;
    padding-left: 100px;
    height: 69px;
}
.chapter_info .chapter_thumb{
    width: 75px;
    position: absolute;
    left: 20px;
    cursor: -webkit-grab;
}
.chapter_desc{
    padding-right: 50px;
    position: relative;
}
.chapter_controls{
    position: absolute;
    right: 5px;
    top:0px;
}
.chapter-editable{
    border-bottom: 1px solid #f1f1f1;
    transition: all .4s;
    overflow-y: auto;
}
.loadingEditableChapterInfo i{
    font-size: 40px;
    display: block;
    margin-bottom: 20px;
}
.loadingEditableChapterInfo{
    text-align: center;
    padding: 150px;
    font-size: 24px;
    text-transform: uppercase;
}
.editable-chapter-panel{
    margin-bottom: 0px;
}
.editable-chapter-panel .nav.nav-tabs{
    padding: 0px !important;
    border-top:1px solid #f4f4f4;
}
.editable-chapter-panel .tab-pane{

}
.editable-chapter-panel .row{
    margin-right: -15px;
    margin-left: -15px;
}
.editable-chapter-panel .row{
    margin-right: -15px;
    margin-left: -15px;
}
.fileinput .thumbnail > img{
    max-height: none !important;
    width: 100% !important;
}
.table-question{
    text-align: center;
}
.table-question td{
    vertical-align: middle;
}
.table-question td .option{
    padding: 10px;
}
.option-answer{
    height: 10px;
    width: 100%;
    background: #f00;
}
.table-question td{
    padding: 5px !important;
    position: relative;
    vertical-align: middle;
}
.table-question td input[type='radio']{
    display: none;
}
.table-question td label{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.questionstable.nav.nav-tabs.bg-white>li>a{
    padding: 8px 30px;
    background: #9c9c9c;
    border-radius: 50px !important;
    display: block;
    color: #fff;
    font-weight: 600;
}
.questionstable.nav-tabs > li.active{
    border-top-color:transparent !important;
}
.questionstable{
    padding: 10px 20px;
}
.questionstable.nav.nav-tabs.bg-white>li.active a{
    background: #9b291e;
    border-right-color: #9b2a1f !important;
}
.QuestionAble label{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 9px !important;
    display: block;
    margin: 0 auto !important;
    transition: all .5s;
}
.QuestionAble:hover label{
    background: #dadada;
}
.QuestionAble.ActiveQuestion label{
    color: #fff;
    background: #f00;
}
.questionstable.nav.nav-tabs.bg-white>li.QustionActionBtn a{
    border-radius: 3px !important;
    color: #464646;
    background: #e4e4e4;
    font-weight: 400;
}
.ActiveMode{
    background: #2196F3 !important;
    color: #fff !important;
    font-weight: 600 !important;
}

#FinalScoreModal .nav-tabs-custom > .nav-tabs > li.active > a, #FinalScoreModal .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #4486ec;
    color: #fff;
}
#FinalScoreModal .nav-tabs-custom > .nav-tabs > li.active > a {
    border-top-color: transparent;
    border-left-color: #6497e4;
    border-right-color: #6497e4;
}
#FinalScoreModal .nav-tabs-custom > .nav-tabs{
    border-bottom-color: #6497e4;
}
#FinalScoreModal .nav-tabs-custom > .nav-tabs > li > a {
    color: #a9c9f9;
    border-radius: 0 !important;
}
#range_5{
    width: 100px;
}
.navbar-custom-menu .navbar-left{
    float: left;
}
.flat{
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.fixed-width-icons i{
    width: 20px;
    display: inline-block;
}
.w-xs {
    width: 90px !important;
}
.d-table{
    width: 100% !important;
}

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
    width: 25px; /* x*5 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
    width: 15px; /* x*3 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
    margin-left: 10px; /* x*2 */
}

/* LARGE */

input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
}
input[type="checkbox"].ios8-switch-lg + label {
    position: relative;
    padding: 7px 0 0 60px;
    line-height: 2.3em;
}
input[type="checkbox"].ios8-switch-lg + label:before {
    width: 50px; /* x*5 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:after {
    width: 30px; /* x*3 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:hover:after {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-lg:checked + label:after {
    margin-left: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch + label{
    position: relative;
    top: -9px;
}
.control-row{
    border-top:1px solid #f3f3f3;
    padding:15px 20px;
}
.control-row p{
    margin-bottom: 0px;
}
.control-row:nth-child(even){
    background: #fafafa;
}
.btn-inner-tabs-controls .btn{
    box-shadow: none;
    border-radius: 0px;
    padding: 13px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-inner-tabs-controls .btn.active{
    background: #9b281d !important;
    border-color: #9b281d !important;
    color: #fff;
}
.bg-dd{
    color: #fff !important;
    background: #323232 !important;
}
.row-actions a{
    display: inline-block;
    margin-right: 10px;

}
.row-actions{
    visibility: hidden;
}
.video-question .row:hover .row-actions{
    visibility: visible;
}
.no-video-preview .video-upload-controls{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    height: 34px;
    margin-top: -50px;
    left: 0;
    padding: 0px !important;
}
.no-video-preview .video-upload-controls .btn-danger{
    display: none;

}