body{
    position: relative;
    height: 100%;
    width: 100%;
    background: #ecf0f5;
}
.dashboard-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}
.dashboard-wrapper .left-side{
    width: 230px;
    position: fixed;
    height: 100%;
    background: #222d32;
    top:50px;
    left: 0px;
    z-index: 80;
}
.main-contents-wrapper{
    padding-left: 230px;
}
.main-contents{
    padding:20px;
}
.top-bar{
    position: fixed;
    padding-left: 230px;
    height: 50px;
    background: #3d8db8;
    width: 100%;
    z-index: 99;

}
.top-bar-left{
    position: absolute;
    left: 0px;
    width: 230px;
    top:0px;
    background: #256c91;
    height: 100%;
    text-align: center;
}
.top-bar-left a{
    color: #fff;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 12px;
}
.top-bar-right{

}
.user-nav a{
    color: #fff;
}
.user-nav.nav>li>a:focus, .user-nav.nav>li>a:hover {
    background-color: transparent;
}
.search-bar{
    border:none !important;
    background: #4b626d;
    box-shadow: none !important;
    height: 40px;
    color: #8db0c3;
}
.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sidebar a:hover,
.sidebar a:active,
.sidebar a:focus{
    text-decoration: none;
    color: #fff;
}
.sidebar > ul > li > a{
    color: #b8c7ce;
    display: block;
    padding: 15px 10px;
    border-bottom:1px solid #29363e;
    border-left: 3px solid transparent;

}
.sidebar > ul > li > ul{
    display: none;
}
.sidebar > ul > li > a{
    position: relative;
}
.sidebar > ul > li > a > i{
    width: 20px;
}
.sidebar > ul > li > a > span > i.zmdi{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    transition: all .5s;
    text-align: center;
    display: block;
    top:15px;
}

.sidebar > ul > li > ul a{
    color: #b8c7ce;
    display: block;
    padding: 8px 25px;
    border-bottom: 1px solid #29363e;
    border-left: 3px solid transparent;
    background: #2d404a;
}
.sidebar > ul > li > ul a i{
    width: 20px;
}
.sidebar > ul > li.active-subnav span > i.zmdi{
    transform: rotateZ(90deg);
}
.sidebar > ul > li.active-subnav > a{
    border-left: 3px solid #3d8cb8;
}
.page-header{
    margin: 0px;
    background: #fafafa;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 70px;
}
.page-header h1{
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}
.panel-heading{
    border-bottom: 1px solid #efefef;
    padding: 15px;
}
.panel{
    border:none;
    border-radius: 0px;
}
.login-form-wrapper{
    width: 400px;
    margin: 0 auto;
    margin-top: 200px;
}
.btn-min-width{
    width: 100px;
}
.flat-control{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -wekbit-border-radius: 2px;
    box-shadow: none !important;
}
.stat-panel{
    position: relative;
    padding: 0px 20px 40px 10px;
    color: rgba(255,255,255,0.9);
}
.stat-panel h3{
    font-size: 50px;
    margin: 0px;
}
.stat-panel p {
    margin-bottom: 0px;
    text-transform: uppercase;
}
.stat-footer{
    position: absolute;
    text-align: center;
    padding: 5px;
    background: rgba(0,0,0,0.4);
    width: 100%;
    left: 0px;
    bottom: 0px;
    color: #fff;
}
.stat-footer a{
    color: #fff;
}
.stat-icon{
    font-size:70px;
    position: absolute;
    right: 30px;
    color: rgba(255,255,255,0.3);
    top:40px;
}
footer{
    text-align: center;
    padding: 10px;
    background: #484848;
    color: #e0e0e0;
    position: fixed;
    width: 100%;
    left: 0px;
    padding-left: 320px;
    bottom: 0px;
}

