.section{
	position: relative;
}
.section-grey,.bg-grey{
	background: #f5f5f5 !important;
}
.no-bg{
	background:transparent !important;
}
.bg-facebook{
	background: #3c5a94;
}
.bg-twitter{
	background: #3c5a94;
}
.bg-google{
	background: #de4c48;
}
.bg-linkedin{
	background: #0376b2;
}
.section-dark{
	/*background: #231F20;*/
	background: rgba(35, 31, 32, 0.9);
}
.section-dark2{
	background: #37474f;
}
.graph-1{
	background: #009688;
}
.graph-2{
	background: #4ba950;
}
.graph-3{
	background: #ffeb3b;
}

.opacity-9{
}
.font-34{
	font-size: 34px !important;
}
.font-35{
	font-size: 35px !important;
}
.font-14{
	font-size: 14px !important;
}
.font-12{
	font-size: 12px !important;
}
.font-13{
	font-size: 13px !important;
}
.font-10{
	font-size: 10px !important;
}
.font-8{
	font-size: 8px;
}
.font-9{
	font-size: 9px;
}
.font-24{
	font-size: 24px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-16{
	font-size: 16px !important;
}
.font-40{
	font-size: 40px;
}
.font-50{
	font-size: 50px;
}
.font-45{
	font-size: 45px;
}
.font-100{
	font-weight:100;
}
.font-30{
	font-size: 30px;
}
.font-300{
	font-weight:100;
}
.font-400{
	font-weight: 400;
}
.font-700{
	font-weight: 700;
}
.font-500{
	font-weight: 500;
}
.font-300{
	font-weight: 300;
}
.space-30{
	margin-top:15px;
	margin-bottom:14px;
	height:1px;
}
.space-10{
	margin-top:5px;
	margin-bottom:4px;
	height:1px;
}
.space-20{
	margin-top:10px;
	margin-bottom:9px;
	height:1px;
}
.space-40{
	margin-top: 20px;
	margin-bottom: 19px;
	height: 1px;
}
.no-mar-btm{
	margin-bottom: 0px;
}
.no-mar-top{
	margin-top: 0px;
}
.text-white{
	color: #fff;
}
.text-grey{
	color: #a5a5a5;
}
.text-light{
	color: #c8c8c8;
}
.text-dark{
	color: #526388 !important;
}
.text-green{
	color:#8BC34A;
}
.text-green-3{
	color:#7FEC00;
}
.text-blue{
	color: #00B8D4;
}
.text-purple{
	color: #691c86;
}
.bg-purple{
	background: #691c86;
}
.text-orange{
	color: #f96b07;
}
.text-black{
	color: #000;
}
.lspacing{
	letter-spacing: 2px;
}
img{
	max-width: 100%;
}
.relative{
	position: relative;
}
.open-sans{
	font-family:Open Sans;
}
/* ====================================================================
   Padding and Margin 
======================================================================*/

/*4.1-Section padding top bottom home header */
.sp-top-bottom-home{padding-top:230px;padding-bottom:120px;}

/*4.2-Section padding top bottom */
.sp-top-bottom0{padding:0px 0 !important;}
.sp-top-bottom10{padding:10px 0 !important;}
.sp-top-bottom20{padding:20px 0 !important;}
.sp-top-bottom30{padding:30px 0 !important;}
.sp-top-bottom17{padding:17px 0 !important;}
.sp-top-bottom40{padding:40px 0 !important;}
.sp-top-bottom50{padding:50px 0 !important;}
.sp-top-bottom60{padding:60px 0 !important;}
.sp-top-bottom70{padding:70px 0 !important;}
.sp-top-bottom80{padding:80px 0 !important;}
.sp-top-bottom90{padding:90px 0 !important;}
.sp-top-bottom100{padding:100px 0 !important;}
.sp-top-bottom110{padding:110px 0 !important;}
.sp-top-bottom120{padding:120px 0 !important;}

/*4.3-Section padding top */
.sp-top120{padding-top:120px !important;}
.sp-top110{padding-top:110px !important;}
.sp-top100{padding-top:100px !important;}
.sp-top90{padding-top:90px !important;}
.sp-top80{padding-top:80px !important;}
.sp-top70{padding-top:70px !important;}
.sp-top60{padding-top:60px !important;}
.sp-top50{padding-top:50px !important;}
.sp-top40{padding-top:40px !important;}
.sp-top30{padding-top:30px !important;}
.sp-top20{padding-top:20px !important;}
.sp-top10{padding-top:10px !important;}
.sp-top0{padding-top:0px !important;}

/*4.4-Section padding bottom */
.sp-bottom120{padding-bottom:120px !important;}
.sp-bottom110{padding-bottom:110px !important;}
.sp-bottom100{padding-bottom:100px !important;}
.sp-bottom90{padding-bottom:90px !important;}
.sp-bottom80{padding-bottom:80px !important;}
.sp-bottom70{padding-bottom:70px !important;}
.sp-bottom60{padding-bottom:60px !important;}
.sp-bottom50{padding-bottom:50px !important;}
.sp-bottom40{padding-bottom:40px !important;}
.sp-bottom30{padding-bottom:30px !important;}
.sp-bottom20{padding-bottom:20px !important;}
.sp-bottom10{padding-bottom:10px !important;}
.sp-bottom0{padding-bottom:0px !important;}

.sp-10{
	padding: 10px !important;
}
.sp-20{
	padding: 20px !important;
}
.sp-30{
	padding: 30px !important;
}
.sp-40{
	padding: 40px !important;
}
.sp-50{
	padding: 50px !important;
}

/*4.5-Section margin top bottom */
.sm-top-bottom0{margin:0px 0 !important;}
.sm-top-bottom10{margin:10px 0 !important;}
.sm-top-bottom20{margin:20px 0 !important;}
.sm-top-bottom30{margin:30px 0 !important;}
.sm-top-bottom40{margin:40px 0 !important;}
.sm-top-bottom50{margin:50px 0 !important;}
.sm-top-bottom60{margin:60px 0 !important;}
.sm-top-bottom70{margin:70px 0 !important;}
.sm-top-bottom80{margin:80px 0 !important;}
.sm-top-bottom90{margin:90px 0 !important;}
.sm-top-bottom100{margin:100px 0 !important;}
.sm-top-bottom110{margin:110px 0 !important;}
.sm-top-bottom120{margin:120px 0 !important;}

/*4.6-Section margin top */
.sm-top120{margin-top:120px !important;}
.sm-top110{margin-top:110px !important;}
.sm-top100{margin-top:100px !important;}
.sm-top90{margin-top:90px !important;}
.sm-top80{margin-top:80px !important;}
.sm-top70{margin-top:70px !important;}
.sm-top60{margin-top:60px !important;}
.sm-top50{margin-top:50px !important;}
.sm-top40{margin-top:40px !important;}
.sm-top30{margin-top:30px !important;}
.sm-top20{margin-top:20px !important;}
.sm-top10{margin-top:10px !important;}
.sm-top0{margin-top:0px !important;}
.sm-top3{margin-top:3px !important;}

/*4.7-Section margin bottom */
.sm-bottom120{margin-bottom:120px !important;}
.sm-bottom110{margin-bottom:110px !important;}
.sm-bottom100{margin-bottom:100px !important;}
.sm-bottom90{margin-bottom:90px !important;}
.sm-bottom80{margin-bottom:80px !important;}
.sm-bottom70{margin-bottom:70px !important;}
.sm-bottom60{margin-bottom:60px !important;}
.sm-bottom50{margin-bottom:50px !important;}
.sm-bottom40{margin-bottom:40px !important;}
.sm-bottom30{margin-bottom:30px !important;}
.sm-bottom20{margin-bottom:20px !important;}
.sm-bottom10{margin-bottom:10px !important;}
.sm-bottom0{margin-bottom:0px !important;}
.sm-bottom3{margin-bottom:3px !important;}
.sm-bottom5{margin-bottom:5px !important;}

/*4.8-Media query */
@media only screen and (max-width: 992px) {
	.sp-top-bottom70{padding:50px 0 !important;}.sp-top-bottom80{padding:60px 0 !important;}.sp-top-bottom90{padding:70px 0 !important;}.sp-top-bottom100{padding:80px 0 !important;}.sp-top-bottom110{padding:90px 0 !important;}.sp-top-bottom120{padding:100px 0 !important;}

	.sm-top-bottom70{margin:50px 0 !important;}.sm-top-bottom80{margin:60px 0 !important;}.sm-top-bottom90{margin:70px 0 !important;}.sm-top-bottom100{margin:80px 0 !important;}.sm-top-bottom110{margin:90px 0 !important;}.sm-top-bottom120{margin:100px 0 !important;}

	.sp-top120{padding-top:100px !important;}.sp-top110{padding-top:90px !important;}.sp-top100{padding-top:80px !important;}.sp-top90{padding-top:70px !important;}
	.sp-top80{padding-top:60px !important;}.sp-top70{padding-top:50px !important;}

	.sp-bottom120{padding-bottom:100px !important;}.sp-bottom110{padding-bottom:90px !important;}.sp-bottom100{padding-bottom:80px !important;}.sp-bottom90{padding-bottom:70px !important;}.sp-bottom80{padding-bottom:60px !important;}.sp-bottom70{padding-bottom:50px !important;}

	.sm-top120{margin-top:100px !important;}.sm-top110{margin-top:90px !important;}.sm-top100{margin-top:80px !important;}.sm-top90{margin-top:70px !important;}
	.sm-top80{margin-top:60px !important;}.sm-top70{margin-top:50px !important;}

	.sm-bottom120{margin-bottom:100px !important;}.sm-bottom110{margin-bottom:90px !important;}.sm-bottom100{margin-bottom:80px !important;}.sm-bottom90{margin-bottom:70px !important;}.sm-bottom80{margin-bottom:60px !important;}.sm-bottom70{margin-bottom:50px !important;}

}
@media only screen and (max-width: 768px) {
	.sp-top-bottom30{padding:20px 0 !important;}
	.sp-top-bottom40{padding:20px 0 !important;}
	.sp-top-bottom50{padding:30px 0 !important;}
	.sp-top-bottom60{padding:40px 0 !important;}
	.sp-top-bottom70{padding:50px 0 !important;}
	.sp-top-bottom80{padding:60px 0 !important;}
	.sp-top-bottom90{padding:50px 0 !important;}
	.sp-top-bottom100{padding:60px 0 !important;}
	.sp-top-bottom110{padding:70px 0 !important;}
	.sp-top-bottom120{padding:80px 0 !important;}

	.sm-top-bottom30{margin:20px 0 !important;}
	.sm-top-bottom40{margin:20px 0 !important;}
	.sm-top-bottom50{margin:30px 0 !important;}
	.sm-top-bottom60{margin:40px 0 !important;}
	.sm-top-bottom70{margin:50px 0 !important;}
	.sm-top-bottom80{margin:60px 0 !important;}
	.sm-top-bottom90{margin:50px 0 !important;}
	.sm-top-bottom100{margin:60px 0 !important;}
	.sm-top-bottom110{margin:70px 0 !important;}
	.sm-top-bottom120{margin:80px 0 !important;}

	/*Section padding top */
	.sp-top120{padding-top:80px !important;}
	.sp-top110{padding-top:70px !important;}
	.sp-top100{padding-top:60px !important;}
	.sp-top90{padding-top:50px !important;}
	.sp-top80{padding-top:60px !important;}
	.sp-top70{padding-top:50px !important;}
	.sp-top60{padding-top:40px !important;}
	.sp-top50{padding-top:30px !important;}
	.sp-top40{padding-top:20px !important;}
	.sp-top30{padding-top:20px !important;}

	/*Section padding bottom */
	.sp-bottom120{padding-bottom:80px !important;}
	.sp-bottom110{padding-bottom:70px !important;}
	.sp-bottom100{padding-bottom:60px !important;}
	.sp-bottom90{padding-bottom:50px !important;}
	.sp-bottom80{padding-bottom:60px !important;}
	.sp-bottom70{padding-bottom:50px !important;}
	.sp-bottom60{padding-bottom:40px !important;}
	.sp-bottom50{padding-bottom:30px !important;}
	.sp-bottom40{padding-bottom:20px !important;}
	.sp-bottom30{padding-bottom:20px !important;}

	/*Section margin top */
	.sm-top120{margin-top:80px !important;}
	.sm-top110{margin-top:70px !important;}
	.sm-top100{margin-top:60px !important;}
	.sm-top90{margin-top:50px !important;}
	.sm-top80{margin-top:60px !important;}
	.sm-top70{margin-top:50px !important;}
	.sm-top60{margin-top:40px !important;}
	.sm-top50{margin-top:30px !important;}
	.sm-top40{margin-top:20px !important;}
	.sm-top30{margin-top:20px !important;}

	/*Section margin bottom */
	.sm-bottom120{margin-bottom:80px !important;}
	.sm-bottom110{margin-bottom:70px !important;}
	.sm-bottom100{margin-bottom:60px !important;}
	.sm-bottom90{margin-bottom:50px !important;}
	.sm-bottom80{margin-bottom:60px !important;}
	.sm-bottom70{margin-bottom:50px !important;}
	.sm-bottom60{margin-bottom:40px !important;}
	.sm-bottom50{margin-bottom:30px !important;}
	.sm-bottom40{margin-bottom:20px !important;}
	.sm-bottom30{margin-bottom:20px !important;}
	.sm-bottom20{margin-bottom:20px !important;}
	.sm-bottom10{margin-bottom:10px !important;}
	.sm-bottom5{margin-bottom:5px !important;}

}

.top-5{position: relative; top: 5px;}
.top-10{position: relative; top: 10px;}
.top-15{position: relative; top: 15px;}
.top-20{position: relative; top: 20px;}
.top-25{position: relative; top: 25px;}
.top-30{position: relative; top: 30px;}
.top-35{position: relative; top: 35px;}
.top-40{position: relative; top: 40px;}
a:hover{
	text-decoration: none;
}
a:focus,a:active{
	outline: none;
}
.sm-left120{margin-bottom:120px !important;}
.sm-left110{margin-bottom:110px !important;}
.sm-left100{margin-bottom:100px !important;}
.sm-left90{margin-bottom:90px !important;}
.sm-left80{margin-bottom:80px !important;}
.sm-left70{margin-bottom:70px !important;}
.sm-left60{margin-bottom:60px !important;}
.sm-left50{margin-bottom:50px !important;}
.sm-left40{margin-bottom:40px !important;}
.sm-left30{margin-bottom:30px !important;}
.sm-left20{margin-bottom:20px !important;}
.sm-left25{margin-bottom:25px !important;}
.sm-left26{margin-bottom:26px !important;}
.sm-left10{margin-bottom:10px !important;}
.sm-left0{margin-bottom:0px !important;}
.sm-left3{margin-bottom:3px !important;}
.sm-left5{margin-bottom:5px !important;}

.sm-right120{margin-right:120px !important;}
.sm-right110{margin-right:110px !important;}
.sm-right100{margin-right:100px !important;}
.sm-right90{margin-right:90px !important;}
.sm-right80{margin-right:80px !important;}
.sm-right70{margin-right:70px !important;}
.sm-right60{margin-right:60px !important;}
.sm-right50{margin-right:50px !important;}
.sm-right40{margin-right:40px !important;}
.sm-right30{margin-right:30px !important;}
.sm-right20{margin-right:20px !important;}
.sm-right25{margin-right:25px !important;}
.sm-right26{margin-right:26px !important;}
.sm-right10{margin-right:10px !important;}
.sm-right0{margin-right:0px !important;}
.sm-right3{margin-right:3px !important;}
.sm-right5{margin-right:5px !important;}

.sp-right120{padding-right:120px !important;}
.sp-right110{padding-right:110px !important;}
.sp-right100{padding-right:100px !important;}
.sp-right90{padding-right:90px !important;}
.sp-right80{padding-right:80px !important;}
.sp-right70{padding-right:70px !important;}
.sp-right60{padding-right:60px !important;}
.sp-right50{padding-right:50px !important;}
.sp-right40{padding-right:40px !important;}
.sp-right30{padding-right:30px !important;}
.sp-right20{padding-right:20px !important;}
.sp-right25{padding-right:25px !important;}
.sp-right26{padding-right:26px !important;}
.sp-right10{padding-right:10px !important;}
.sp-right0{padding-right:0px !important;}
.sp-right3{padding-right:3px !important;}
.sp-right5{padding-right:5px !important;}


.sp-left120{padding-left:120px !important;}
.sp-left110{padding-left:110px !important;}
.sp-left100{padding-left:100px !important;}
.sp-left90{padding-left:90px !important;}
.sp-left80{padding-left:80px !important;}
.sp-left70{padding-left:70px !important;}
.sp-left60{padding-left:60px !important;}
.sp-left50{padding-left:50px !important;}
.sp-left40{padding-left:40px !important;}
.sp-left30{padding-left:30px !important;}
.sp-left20{padding-left:20px !important;}
.sp-left25{padding-left:25px !important;}
.sp-left26{padding-left:26px !important;}
.sp-left10{padding-left:10px !important;}
.sp-left0{padding-left:0px !important;}
.sp-left3{padding-left:3px !important;}
.sp-left5{padding-left:5px !important;}

.sp-right10{
	padding-right:10px;
}
.sp-left10{
	padding-left:10px;
}
.no-border{
	border: none !important;
}
.btn-border-white, .btn-border-black, .btn-bg-black, .btn-bg-white,.btn-border-grey,.btn-border-orange{
	font-size: 14px;
	font-weight: 700;
	margin: 0 auto;
	display:inline-block;
	padding: 10px 20px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: color 0.3s ease 0s, background 0.3s ease 0s;
	-ms-transition: color 0.3s ease 0s, background 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s, background 0.3s ease 0s;
	-moz--webkit-transition: color 0.3s ease 0s, background 0.3s ease 0s;
	-o--webkit-transition: color 0.3s ease 0s, background 0.3s ease 0s;
	line-height: 1;
}

/* 6.1-White border button style */
.btn-border-white {border: 2px solid #FFFFFF;color: #fff !important;}
.btn-border-white:hover {background-color: #FFFFFF;color: #212121 !important;}
.btn-border-grey {border: 2px solid #bdbdbd;color: #fff !important;}
.btn-border-grey:hover {background-color: #bdbdbd;color: #212121 !important;}
.btn-border-grey-2 {border: 2px solid #939292;color: #939292 !important;}
.btn-border-grey-2:hover {background-color: #939292;color: #212121 !important;}

.section-white .btn-border-grey{
	color: #6B6B6B !important;
}
/* 6.2-Black border button style */
.btn-border-black {border: 2px solid #212121; color: #212121 !important;}
.btn-border-black:hover {background-color: #212121;color: #fff !important;}

.btn-border-orange {border: 2px solid #ff5722; color: #ff5722 !important;}
.btn-border-orange:hover {background-color: #ff5722;color: #fff !important;}
.section-white .btn-border-black:hover{
	color: #000 !important;
	background: #F3F3F3 !important;
}
/* 6.3-Black Background button style*/
.btn-bg-black {border: 3px solid #212121;background-color:#212121;color: #fff !important;}
.btn-bg-black:hover {background-color:transparent;color: #212121 !important;}

/* 6.4-White Background button style */
.btn-bg-white {border: 3px solid #fff;background-color:#fff;color: #212121 !important;}
.btn-bg-white:hover {background-color:transparent;color: #fff !important;}

.btn-orange {
	background-color:#f96b07;color: #fff !important;
}
.btn-orange:hover {background-color:#f96b07;color: #fff !important;}

/*6.5-Button size */
.btn-size-0{padding: 5px 22px;font-size: 12px;letter-spacing: 1px;}
.btn-size-5{padding: 17px 19px;font-size: 16px;}
.btn-size-1{padding: 10px 40px;font-size: 16px;}
.btn-size-2 {padding: 17px 25px;}
.btn-size-6 {padding: 10px 25px;}
.btn-size-3 {padding: 16px 44px; font-size: 14px;;}
.btn-size-4{padding: 18px 46px;font-size: 16px;}
.btn-icon{margin-right:5px;}

/*6.6-Buttom border radius*/
.btn-round{border-radius:1000px;-webkit-border-radius:1000px;-moz-border-radius:1000px;}
.line-height-1{
	line-height: 1;
}
.line-height-15{
	line-height:1.5;

}
.line-height-2{
	line-height: 2;
}
.img-rounded{
	border-radius:50%;
}
.width-145{
	width: 145px;
}
.no-margin{
	margin: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.btn-border-black.active.focus, .btn-border-black.active:focus, .btn-border-black.focus, .btn-border-black:active.focus, .btn-border-black:active:focus, .btn-border-black:focus{
	border: 2px solid #000 !important;
	color: #BBBBBB !important;
}
.btn.bg-facebook:hover,
.btn.bg-facebook:focus,
.btn.bg-linkedin:hover,
.btn.bg-linkedin:focus{
	color: #fff;
}
.btns-or{
	line-height: 50px;
	text-transform: uppercase;
}
.no-margin-p p{
	margin: 0px;
}
i.inverse{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.border-bottom{
	border-bottom: 1px solid #676767;
}
.no-bg{
	background: none !important;
}
@media (max-width:480px){
	.hidden-xs{
		display: none;
	}
}
.w-sm{
	width: 150px;
}
.w-md{
	width: 170px;
}
.w-lg{
	width: 200px;
}
.font-60{
	font-size: 60px;
}